.typeContainer {
  display: flex;
  padding: 4px 5px;
  border-radius: 5px;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  width: 45%;
  font-family: var(--font-secondary);
  margin-top: 5px;
}

@mixin type($backGroundColor, $color) {
  background: $backGroundColor;
  color: $color;
}

.grass {
  @include type(var(--color-grass), var(--color-white));
}

.fire {
  @include type(var(--color-fire), var(--color-white));
}

.poison {
  @include type(var(--color-poison), var(--color-white));
}

.water {
  @include type(var(--color-water), var(--color-white));
}

.flying {
  @include type(var(--color-flying), var(--color-white));
}

.psychic {
  @include type(var(--color-psychic), var(--color-white));
}

.ghost {
  @include type(var(--color-ghost), var(--color-white));
}

.fighting {
  @include type(var(--color-fighting), var(--color-white));
}

.dragon {
  @include type(var(--color-dragon), var(--color-white));
}

.dark {
  @include type(var(--color-dark), var(--color-white));
}

.rock {
  @include type(var(--color-rock), var(--color-white));
}

.bug {
  @include type(var(--color-bug), var(--color-white));
}

.normal {
  @include type(var(--color-normal), var(--color-black));
}

.ground {
  @include type(var(--color-ground), var(--color-black));
}

.fairy {
  @include type(var(--color-fairy), var(--color-black));
}

.electric {
  @include type(var(--color-electric), var(--color-black));
}

.steel {
  @include type(var(--color-steel), var(--color-black));
}

.ice {
  @include type(var(--color-ice), var(--color-black));
}
