@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Roboto:wght@400;700&display=swap');

@mixin font($fontFamily, $size, $height, $weight, $color) {
  font-family: $fontFamily;
  font-style: normal;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}



.pokemonNumberCard{
  @include font(var(--font-secondary), 80%, normal, 500, #919191);
}

.pokemonNameCard{
  @include font(var(--font-secondary), 20px, normal, 500, #313131);
}